<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:19:50</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/12/29 15:19:51</td>   <td>691</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:19:51</td>   <td>696</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:19:51</td>   <td>1372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/12/29 15:20:07</td>   <td>16787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@49993335]">createlead</td> 
  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:20:26</td>   <td>36129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:20:27</td>   <td>37015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="9f8bb1">  <td>18/12/29 15:20:36</td>   <td>45508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.createlead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_CreateLead@49993335]">createlead</td> 
  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:20:50</td>   <td>60310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:20:51</td>   <td>61174</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
<tr bgcolor="fcbaf1">  <td>18/12/29 15:20:51</td>   <td>61385</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC002_CreateLead@49993335]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@989938643</td>   <td></td> </tr>
</table>
