<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>18/12/29 15:56:25</td>   <td>0</td> <td title="&gt;&gt;HtmlReports.startResult()[pri:0, instance:testcases.CreateLead@2286778]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="94c7ba">  <td>18/12/29 15:56:26</td>   <td>880</td> <td title="&gt;&gt;DeleteLead.setdata()[pri:0, instance:week4.day1.DeleteLead@5abca1e0]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/12/29 15:56:26</td>   <td>881</td> <td title="&gt;&gt;CreateLead.setData()[pri:0, instance:testcases.CreateLead@2286778]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>18/12/29 15:56:26</td>   <td>1530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReports.startTestcase()[pri:0, instance:testcases.CreateLead@2286778]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/12/29 15:56:26</td>   <td>1549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@2286778]">createLead1</td> 
  <td>main@1663166483</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/12/29 15:56:27</td>   <td>1588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.createLead1(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.CreateLead@2286778]">createLead1</td> 
  <td>main@1663166483</td>   <td></td> </tr>
</table>
