<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c6faa">  <td>18/12/29 16:09:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethod.close()[pri:0, instance:week4.day1.DeleteLead@3632be31]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/12/29 16:09:21</td>   <td>-37696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.deletelead(java.lang.String)[pri:0, instance:week4.day1.DeleteLead@3632be31]">deletelead</td> 
  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/12/29 16:10:01</td>   <td>2199</td> <td title="&lt;&lt;HtmlReports.endResult()[pri:0, instance:week4.day1.DeleteLead@3632be31]">&lt;&lt;endResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>18/12/29 16:09:05</td>   <td>-53424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethod.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week4.day1.DeleteLead@3632be31]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>18/12/29 16:09:04</td>   <td>-54141</td> <td title="&gt;&gt;DeleteLead.setdata()[pri:0, instance:week4.day1.DeleteLead@3632be31]">&gt;&gt;setdata</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/12/29 16:09:03</td>   <td>-55017</td> <td title="&gt;&gt;HtmlReports.startResult()[pri:0, instance:week4.day1.DeleteLead@3632be31]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>18/12/29 16:09:05</td>   <td>-53432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReports.startTestcase()[pri:0, instance:week4.day1.DeleteLead@3632be31]">&gt;&gt;startTestcase</td> 
<td>&nbsp;</td>  <td>main@215145189</td>   <td></td> </tr>
</table>
